extend ../layout/common
block nav
    include ../layout/nav.pug
block content
    p #{user.name}
    form.d-flex(method="GET",action="/users")
        input.input-group.mr-5.w-75(type="text",name="q",value=q)
        button.btn.btn-primary Search
    a.btn.btn-primary(href="users/create") Create
    ul.mt-5
    table.table
        tr
            th Name
            th Phone
            th Action
        each val in user
            tr
                td=val.name
                td=val.phone
                td
                    a(href="/users/"+val.id) View
                   
                        
                        